.produtos{
    text-decoration: none;
    text-align: center;
    margin: 12px;
    padding: 12px;
}

.produto img{
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    opacity: 100%;
}

.rodape__produto{
    padding-top: 12px;
    padding-bottom: 12px;
    color: #fff;
}

.produto{
    background-color: #000;
    border-radius: 4px;
}

.produto:hover{
    background-color: rgba(0,0,0, 0.7);
    margin: -1px;
    box-shadow: 4px 4px 4px lightslategray;
    transition: 0.2s;
}

.produto img{
    width: 50;
    height: 40;
}

.titulo-cardapio{
    text-align: center;
}