.leiaute-cardapio{
    padding: 80px
}

.carrinho span{
    padding-left: 8px;
    padding-right: 8px;
    background-color: black;
    color: white;
    border-radius: 18px;
}

.carrinho span:hover{
    background-color: rgba(206, 11, 11, 0.568);
    padding-left: 8px;
    padding-right: 8px;
}

.btn-cat{
    border-radius: 2px;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    justify-content: center;
    text-decoration: none;
    color: black;
    padding: 5px;
    text-align: center;
}

.btn-cat:hover{
    color: white;
    background: rgba(206, 11, 11, 0.568);
}