.leiaute-titulo h2 {
    float: left;
}

.leiaute-titulo img {
    margin-left: 10px;
}

.leiaute-total {
    text-align: center;
}

.val_total {
    padding: 20;
    border-radius: 5px;
    background-color: rgba(50, 50, 50, 0.3);
    text-align: center;
}


.produtos-carrinho {
    padding: 20;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.quantidade{
    text-align: center;
}

.preco{
    text-align: center;
}

.carrinho span{
    display: none;
}

.obs-cliente input{
    padding: 5px;
    border-radius: 2px;
    border: 1px solid rgba(102, 102, 102, 0.26);
    background: rgba(0, 0, 0, 0.1);
}

.botao{
    cursor: pointer;
}

.form-pagamento h2{
    text-align: center;
}

.selecao{
    border: 1px solid rgba(102, 102, 102, 0.26);
    border-radius: 2px;
    text-align: center;
}

.finalizacao{
    text-align: center;
}

.finalizacao a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 15px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.finalizacao a:hover{
    color: rgb(255, 255, 255);
    background: rgba(206, 11, 11, 0.568);
}

.fim-pedido{
    justify-content: center;
    margin-top: 10%;
    text-align: center;
}

.fim-pedido a{
    text-decoration: none;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.fim-pedido a:hover{
    color: white;
    background: rgba(206, 11, 11, 0.568);
}

.unidade {
    text-align: center;
}

.num {
    background: rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
}

.btn {
    color: white;
}

.plus {
    background: rgba(0, 0, 0, 0.8);
}

.minus {
    background: rgba(0, 0, 0, 0.38);
}

.valor {
    text-align: center;
}
